[flake8]
max-line-length = 140
max-complexity = 10

# We use tabs, not spaces
use-flake8-tabs = True

# continuation lines should be hanging
continuation-style = hanging

# Final bracket should match indentation of the start of the line of the opening bracket
hang-closing = False

ignore =
	W191,  # indentation contains tabs

exclude = # don't bother looking in the following subdirectories / files.
	.git,
	__pycache__,
	assets,
	.github,

filename =
	*.py,
	*.pyw
