[flake8]
max-line-length = 88
select = C,E,F,W,B,B950
extend-ignore = E203, E501

exclude = # don't bother looking in the following subdirectories / files.
	.git,
	__pycache__,
	assets,
	.github,

filename =
	*.py,
	*.pyw
