repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
          - --verbose 
          - --skip-magic-trailing-comma 
          - --target-version
          - py312
        files: ''
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.7.0
          - pydocstyle==6.3.0
          - flake8-comprehensions==3.14.0
          - flake8-noqa==1.4.0
        files: ''