a, .icon {
    color: #4caf50;
}
body{
    background-color: #191c1e;
}

.side-bar {
    background-color: #25292c;
}

.site-header {
    min-height: 120px;
}

.site-logo {
    max-height: 115px;
    max-width: 115px;
    margin: 0 auto;
}